.playerImg {
	margin-top: 0;
	height: 99%;
	width: 10%;
	align-items: left;
	position: absolute;
	border: solid 1px black;
}

.metadata {
	display: block;
	text-align: center;
	font-size: 175%;
	/* border: solid 1px red; */
}

.posTeam {
	font-size: 85%;
}

.metastats {
	font-size: 65%;
	margin-top: 1%;
	/* border: solid 1px red; */
}

@media only screen and (max-width: 767px) {	
	.playerImg {
		height: 99%;
		width: auto;
		align-items: left;
		position: absolute;
		border: solid 1px black;
		/* display: none; */
	}
	
	.metadata {
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		text-align: center;
		font-size: 135%;
		margin-left: 2%;
	}
	
	.posTeam {
		font-size: 80%;
	}
	
	.metastats {
		font-size: 65%;
		margin-top: 1%;
		/* border: solid 1px red; */
	}
}